{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #333;
    color: white;
  }

  h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .chat {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2rem;
  }

  .wrapper {
    overflow: scroll;
    flex-grow: 1;
  }

  #log {
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
  }

  .inp {
    display: flex;
  }

  #username {
    font-weight: bold;
    margin-bottom: 0;
  }

  #bubble {
    background: blue;
    border: none;
    border-radius: 3px;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  #input {
    flex-grow: 1;
    appearance: none;
    background-color: #555;
    border: none;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px;
  }

  #sendbtn {
    border: none;
    border-radius: 3px;
  }

  #sendbtn:hover {
    background-color: #ACE1AF;
  }
</style>
<script>
  htmx.on('htmx:wsAfterSend', function() {
    var input = document.getElementById('input');
    if (input.value != "") {
      input.value = "";
    }
  });
</script>
{% endblock %}

{% block content %}
<div hx-ext="ws" ws-connect="/ws/{{email}}" class="chat">
  <h1>Ws-Chalk</h1>
  <div class="wrapper">
    <div id="log"></div>
  </div>
  <form class="inp" ws-send>
    <input id="input" type="text" name="message"/>
    <button id="sendbtn">Send</button>
  </form>
</div>
{% endblock %}